@{
    ViewData["Title"] = "Service Test";
    ViewData["Subtitle"] = "Test 1";
}
<h1>@ViewData["Title"]</h1>

<br />
<br />

<h2>@ViewData["Subtitle"]</h2>

<br />
<br />

<p>Use this page to to test our services.</p>
