@{
    ViewData["Title"] = "Personal - Bio Page";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<br />
<br />

<div class="text-center">
    <ul>
        <h1>Nome: Paulo Melo</h1>
        <h2>Idade: 38 anos</h2>
        <h2>Localidade: Braga</h2>
     </ul>
</div>

<br />
<br />

<div class="text-center">
    <img src="~/media/pjsm.jpg" alt="Paulo Melo" height="300" width="350" />
</div>